* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: url('/MemoryGame/Memory/images/geometry.png');
    height: 100%;
}


img {
    border-radius: 10px;
}

.flipped {
    visibility: hidden;
}
#gameTable {
    margin-top: 15px;
    margin-bottom: 73px;
}
#gridDiv {
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10%;
}
.container-fluid {
    margin-bottom: 100px;
    position: relative;
    min-height: 100vh;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    #gridDiv {
        width: 90%;
    }
}