* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .divCard {
    position: relative;
    width: 100%;
    height: 100%;
}
.imgFront, .imgBack {
    border-radius: 20px;
    border: 1px solid #d7f5fc;
    width: 100%;
    height: 100%;
}
.divFront, .divBack {
    width: 100%;
    height: 100%;
    padding: 5px;
}
.divBack {
    position: absolute;
} */
/* body {
    display: flex;
    background: url("/MemoryGame/Memory/images/geometry.png") ;
    padding-top: 20px;
} */

#gridDiv {
    border: 1px solid #a6d5e3;
    border-radius: 5%;
    padding: 15px;
    margin: auto;
}


[class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

/* .flipped {
    z-index: -1;
} */

